#markup {
    height: 112px;
    border-spacing: 0px;
    border-collapse: separate;
}

.schedule-row {
    height: 30px;
    grid-column: 1 / span 1441;    
}

.schedule-row > td {
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
    padding: 0;
    width: 58px;
    min-width: 58px;
    max-width: 58px;
}

#table-header{
    height: 15px;
    grid-column: 1 / span 1441;
    grid-row: 1 / span 1;
    font-size: 0.5rem;
}

#table-header > td {
    border-left: 1px dotted lightgrey;
    border-right: 1px dotted lightgrey;
    width: 58px;
    min-width: 58px;
    max-width: 58px;
    padding: 0;
    border-bottom: 1px solid black;
}

.job {
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px #000000;
    background-color: lightcyan;
}

#test1 {
    width: 60px;
    height: 30px;    
    left: 1080px
}

#test2 {
    width: 120px;
    height: 30px;    
    left: 0px;
}

#test3 {
    width: 60px;
    height: 30px;
    left: 1319px
}

#schedules-holder {
    position: relative;
    top: -96px;
    width: 1441px;
    height: 30px;
    border-spacing: 0px;
    border-collapse: separate;
}

.one {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px;
}